<?xml version="1.0" encoding="UTF-8"?>
<p:configjarSettings xmlns:p="http://www.bea.com/alsb/tools/configjar/config">
    <p:source>
        <p:project dir="C:\Users\devuser\Documents\TestBuildProj"/>
        <p:fileset>
            <p:exclude name="*/overview.xml"/>
            <p:exclude name="*/pom.xml"/>
            <p:exclude name="*/.settings/**"/>
            <p:exclude name="*/.data/**"/>
        </p:fileset>
    </p:source>
    <p:configjar jar="C:\Users\devuser\Documents\TestBuildProj\.data\maven\sbconfig.sbar">
        <p:projectLevel includeSystem="false">
            <p:project>TestBuildProj</p:project>
        </p:projectLevel>
    </p:configjar>
</p:configjarSettings>